<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mg.api.dao.PhotoDao" >
  <resultMap id="BaseResultMap" type="com.mg.api.model.Photo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="uid" property="uid" jdbcType="BIGINT" />
    <result column="aid" property="aid" jdbcType="BIGINT" />
    <result column="introduce" property="introduce" jdbcType="VARCHAR" />
    <result column="rid" property="rid" jdbcType="VARCHAR" />
    <result column="tag" property="tag" jdbcType="VARCHAR" />
    <result column="view_cnt" property="viewCnt" jdbcType="INTEGER" />
    <result column="like_cnt" property="likeCnt" jdbcType="INTEGER" />
    <result column="reply_cnt" property="replyCnt" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, uid, aid, introduce, rid, tag, view_cnt, like_cnt, reply_cnt, create_date, update_date
  </sql>
  
  <select id="select" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from photo
    where id = #{id,jdbcType=BIGINT}
  </select>
  
  <delete id="delete" parameterType="java.lang.Long" >
    delete from photo
    where id = #{id,jdbcType=BIGINT}
  </delete>
  
  <insert id="insert" parameterType="com.mg.api.model.Photo" >
    insert into photo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="aid != null" >
        aid,
      </if>
      <if test="introduce != null" >
        introduce,
      </if>
      <if test="rid != null" >
        rid,
      </if>
      <if test="tag != null" >
        tag,
      </if>
      <if test="viewCnt != null" >
        view_cnt,
      </if>
      <if test="likeCnt != null" >
        like_cnt,
      </if>
      <if test="replyCnt != null" >
        reply_cnt,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=BIGINT},
      </if>
      <if test="aid != null" >
        #{aid,jdbcType=BIGINT},
      </if>
      <if test="introduce != null" >
        #{introduce,jdbcType=VARCHAR},
      </if>
      <if test="rid != null" >
        #{rid,jdbcType=VARCHAR},
      </if>
      <if test="tag != null" >
        #{tag,jdbcType=VARCHAR},
      </if>
      <if test="viewCnt != null" >
        #{viewCnt,jdbcType=INTEGER},
      </if>
      <if test="likeCnt != null" >
        #{likeCnt,jdbcType=INTEGER},
      </if>
      <if test="replyCnt != null" >
        #{replyCnt,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  
  <update id="update" parameterType="com.mg.api.model.Photo" >
    update photo
    <set >
      <if test="uid != null" >
        uid = #{uid,jdbcType=BIGINT},
      </if>
      <if test="aid != null" >
        aid = #{aid,jdbcType=BIGINT},
      </if>
      <if test="introduce != null" >
        introduce = #{introduce,jdbcType=VARCHAR},
      </if>
      <if test="rid != null" >
        rid = #{rid,jdbcType=VARCHAR},
      </if>
      <if test="tag != null" >
        tag = #{tag,jdbcType=VARCHAR},
      </if>
      <if test="viewCnt != null" >
        view_cnt = #{viewCnt,jdbcType=INTEGER},
      </if>
      <if test="likeCnt != null" >
        like_cnt = #{likeCnt,jdbcType=INTEGER},
      </if>
      <if test="replyCnt != null" >
        reply_cnt = #{replyCnt,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>