<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mg.api.dao.ResourceDao" >
  <resultMap id="BaseResultMap" type="com.mg.api.model.Resource" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="uid" property="uid" jdbcType="BIGINT" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="use_cnt" property="useCnt" jdbcType="INTEGER" />
    <result column="size" property="size" jdbcType="BIGINT" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, uid, type, use_cnt, size, create_date
  </sql>
  
  <select id="select" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from resource
    where id = #{id,jdbcType=VARCHAR}
  </select>
  
  <delete id="delete" parameterType="java.lang.String" >
    delete from resource
    where id = #{id,jdbcType=VARCHAR}
  </delete>

  <insert id="insert" parameterType="com.mg.api.model.Resource" >
    insert into resource
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="useCnt != null" >
        use_cnt,
      </if>
      <if test="size != null" >
        size,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=BIGINT},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="useCnt != null" >
        #{useCnt,jdbcType=INTEGER},
      </if>
      <if test="size != null" >
        #{size,jdbcType=BIGINT},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  
  <update id="update" parameterType="com.mg.api.model.Resource" >
    update resource
    <set >
      <if test="uid != null" >
        uid = #{uid,jdbcType=BIGINT},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="useCnt != null" >
        use_cnt = #{useCnt,jdbcType=INTEGER},
      </if>
      <if test="size != null" >
        size = #{size,jdbcType=BIGINT},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  
  <insert id="batchInsert" parameterType="java.util.List" >
    insert into resource values
    <foreach collection="list" item="item" separator="," >
      (#{item.id,jdbcType=VARCHAR},
      #{item.uid,jdbcType=BIGINT},
      #{item.type,jdbcType=INTEGER},
      #{item.useCnt,jdbcType=INTEGER},
      #{item.size,jdbcType=BIGINT},
      #{item.createDate,jdbcType=TIMESTAMP})
    </foreach>
  </insert>
  
  <select id="getByIds" resultMap="BaseResultMap" parameterType="java.util.List" >
    select 
    <include refid="Base_Column_List" />
    from resource
    <where>
	  <foreach collection="list" item="item" index="index" open="" close="" separator="or">
	  id=#{item}
	  </foreach>
	</where>
  </select>
  
  <delete id="deleteByIds" parameterType="java.util.List" >
    delete from resource
    <where>
      <foreach collection="list" item="item" index="index" open="" close="" separator="or">
      id=#{item}
      </foreach>
    </where>
  </delete>
  
  <select id="getByTimeFilter" resultType="com.mg.api.vo.ResourceVo" >
    select id, use_cnt as useCnt, create_date as createDate
    from resource
    where uid = #{uid,jdbcType=BIGINT}
    and type = #{type,jdbcType=INTEGER}
    order by create_date desc
  </select>
  
  <select id="getByCntFilter" resultType="com.mg.api.vo.ResourceVo" >
    select id, use_cnt as useCnt, create_date as createDate
    from resource
    where uid = #{uid,jdbcType=BIGINT}
    and type = #{type,jdbcType=INTEGER}
    order by use_cnt desc
  </select>
  
  <select id="statistics" resultType="com.mg.api.vo.ResourceStatsVo" parameterType="java.lang.Long" >
    select COUNT(1) as num, type, SUM(size) as size
    from resource
    where uid = #{uid,jdbcType=BIGINT}
    group by type
  </select>
</mapper>